{{ 'video-section-2.css' | asset_url | stylesheet_tag }}

{% if section.settings.video != blank %}
  <div class="video-section">
    <div class="video-inner">
      <iframe
        id="{{ section.id }}"
        src="https://player.vimeo.com/video/{{ section.settings.video.id }}?autoplay=1&loop=1&controls=0&muted=1"
        class="js-vimeo"
        allow="autoplay; encrypted-media"
      ></iframe>
      <div class="video-icons">
        <img 
          width="24"
          height="24"
          id="{{ section.id }}-mute" 
          src="{{ 'mute.png' | asset_url }}" 
        />
        <img 
          width="24"
          height="24"
          
          id="{{ section.id }}-unmute" 
          src="{{ 'unmute.png' | asset_url }}" 
        />
      </div> 
    </div>
  </div>
{% else %}
  <h5>Select a video</h5>
{% endif %}

<script>
  const id="{{ section.id }}"
  
  document.addEventListener("DOMContentLoaded", function() {
    var iframe = document.getElementById(id);
    var player = new Vimeo.Player(iframe);
    var muteButton = document.getElementById(`${id}-mute`);
    
    // Set initial muted state
    player.setVolume(0);
    var isMuted = true;
    
    muteButton.addEventListener('click', function() {
      if (isMuted) {
        player.setVolume(1).then(function() {
          muteButton.innerText = 'Mute';
          isMuted = false;
        });
      } else {
        player.setVolume(0).then(function() {
          muteButton.innerText = 'Unmute';
          isMuted = true;
        });
      }
    });
  });
</script>

{% schema %}
  {
    "name": "Video Block",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "tag": "section",
    "class": "section",
    "settings": [
       {
          "type": "video_url",
          "id": "video",
          "accept": ["vimeo"],
          "label": "Video Url"
        },
    ],
    "presets": [
      {
        "name": "Video block"
      }
    ]
  }
{% endschema %}